.card {
    padding-block-start: 40px;
    padding-block-end: 40px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 2px 2px 3px 0px rgb(255 255 255 / 50%);
    border-radius: 24px;
    padding: 24px;
    color: var(--purple);
    height: 284px;
}

.card-image {
    text-align: center;
}

.card-description {
    font: var(--body1);
    font-weight: bold;
    text-align: left;
}

.card p {
    font: var(--caption);
    opacity: 0.5;
    text-align: left;
}

@media screen and (min-width:768px) {
    .card {
        text-align: center;
        padding-block-start: 80px;
        padding-block-end: 80px;
    }
    .card-content {
        height: 493px;
        padding: 80px;
    }
    .card-description {
        text-align: center;
        font: var(--headLine4);
        font-weight: bold;
    }
    .wrapper section:nth-child(4) .card-description span {
        font-weight: normal;
    }
    .card p {
        text-align: center;
        font: var(--headLine5);
        opacity: 0.5;
    }
}