@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
.coment {
    display: flex;
    flex-direction: column;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    padding-block-start: 16px;
    padding-block-end: 16px;
    gap: 24px;
}

.coment h2 {
    text-align: center;
    font: var(--bodyComent);
    max-inline-size: 900px;
}

.coment h2 span:nth-of-type(2) {
    font: var(--headLine5);
    padding-block-start: 24px;
    padding-block-end: 24px;
    display: block;
}

.coment h2 span img {
    width: 80px;
    height: 80px;
}

@media screen and (min-width:768px) {
    .coment {
        padding-inline-start: 233px;
        padding-inline-end: 233px;
        padding-block-start: 200px;
        padding-block-end: 200px;
    }
}